<ul class="nav">
	<li class="active"><a href="#">Home</a></li>
	<li><a href="#">Link</a></li>
	<li><a href="#">Link</a></li>
</ul>
<ul class="nav pull-right">
	<li class="divider-vertical"></li>
	<li>
		<div>
			<a href="#" class="btn btn-primary">A Button</a>
		</div>
	</li>
</ul>