{% extends 'layout.html.twig' %}
{% block title %}Welcome to CodeIgniter{% endblock title %}

{% block custom_css %}
	{{ parent() }}
	::selection{ background-color: #E13300; color: white; }
	::moz-selection{ background-color: #E13300; color: white; }
	::webkit-selection{ background-color: #E13300; color: white; }

	code {
		display: block;
		margin: 14px 0 14px 0;
	}
{% endblock custom_css %}

{% block headline %} Welcome to CodeIgniter! {% endblock headline %}

{% block content %}
	<p>The page you are looking at is being generated dynamically by CodeIgniter.</p>

	<p>If you would like to edit this page you'll find it located at:</p>
	<code>application/views/welcome_message.html.twig</code>

	<p>The corresponding controller for this page is found at:</p>
	<code>application/controllers/welcome.php</code>

	<p>If you are exploring CodeIgniter for the very first time, you should start by reading the <a href="user_guide/">User Guide</a>.</p>
{% endblock content %}